@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --var-linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --color-red: hsl(0, 100%, 66%);
  --color-purple: hsl(278, 94%, 30%);
  --color-white: hsl(0, 0%, 100%);
  --light-grayish: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

}

body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 1px;
}